body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: url('../../../public/background.jpg')no-repeat center center fixed;    
background-position: center center;      
background-repeat: no-repeat;      
 background-attachment: fixed;      
background-size: cover;      
background-color: #464646; 
}


h1 {
  color: #343a40;
  text-align: center;
  margin: 20px 0;
  font-weight: 300;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

